h1{
  display: inline;
  background-color: linear-gradient(90deg,rgba(37, 117, 252, 1) 11%,rgba(163, 95, 246, 1) 38%,rgba(14,11,22,.6671043417366946) 65%);
}
.row{
    background: linear-gradient(to right,rgba(163, 95, 246, 1), rgba(37, 117, 252, 1));
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: row;
}

.container
{
  margin-left: 20px;
  position:relative;
  width:450px;
  display:flex;
  justify-content:space-between;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-end;
  align-items: center;

}
.card
{
  position:relative;
  width:250px;
  background: linear-gradient(to right,rgba(163, 95, 246, 1), rgba(37, 117, 252, 1));
  display:flex;
  justify-content:center;
  align-items:center;
  height:300px;
  border-radius:4px;
  text-align:center;
  overflow:hidden;
  transition:0.5s;
}
.card:hover
{
  transform:translateY(-10px);
  box-shadow:0 15px 35px rgba(0,0,0,.5);
}
.card:before
{
  content:'';
  position:absolute;
  top:0;
  left:-50%;
  width:100%;
  height:100%;
  background:rgba(255,255,255,.03);
  pointer-events:none;
  z-index:1;
}
.percent
{
  position:relative;
  width:150px;
  height:150px;
  border-radius:50%;
  box-shadow: inset 0 0 50px #000;
  background:#7c0612;
  z-index:1000;
}
.percent .num
{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  display:flex;
  justify-content:center;
  align-items:center;
  border-radius:50%;
}
.percent .num h2
{
  color:#777;
  font-weight:700;
  font-size:40px;
  transition:0.5s;
}
.card:hover .percent .num h2
{
  color:#fff;
  font-size:60px;
}
.percent .num h2 span
{
  color:black;
  font-size:24px;
  transition:0.5s;
}
.card:hover .percent .num h2 span
{
  color:#fff;
}
.text
{
  position:relative;
  color:black;
  margin-top:20px;
  font-weight:700;
  font-size:18px;
  letter-spacing:1px;
  text-transform:uppercase;
  transition:0.5s;
}
.card:hover .text
{
  color:#fff;
}
svg
{
  position:relative;
  width:150px;
  height:150px;
  z-index:1000;
}
svg circle
{
  width:100%;
  height:100%;
  fill:none;
  stroke:#191919;
  stroke-width:10;
  stroke-linecap:round;
  transform:translate(5px,5px);
}
svg circle:nth-child(2)
{
  stroke-dasharray:440;
  stroke-dashoffset:440;
}
.card:nth-child(1) svg circle:nth-child(2)
{
  stroke-dashoffset:calc(440 - (440 * 90) / 100);
  stroke:#0062b0;
}
.boton{
    background: #dc3545;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
    cursor: pointer;
    box-shadow: #bbb 0px 0px 10px;
    align-items: center;
    display: flex;
    justify-content: center;
    
}
