<div class="row">
  <h1>Hard & Soft skills:</h1>
  <div class="col-lg-2">
    <button type="button" routerLink="/newskill" class="boton" *ngIf="isLogged" >Nueva Skill</button>
  </div>
  <div class="text-start col-sm-4 col-md-4 col-lg-4" *ngFor= "let skill of skill">
    <div class="container">
      <div class="card">
        <div class="box">
          <div class="percent">
            <svg>
              <circle cx="70" cy="70" r="70"></circle>
              <circle cx="70" cy="70" r="70"></circle>
            </svg>
            <div class="num">
              <h2><span>{{skill.porcentaje}}</span></h2>
              
            </div>
          </div>
          <h2 class="text">{{skill.nombre}}</h2>
          
        </div>  
    </div>
    <td *ngIf="isLogged">
      <button class="btn btn-danger boton" routerLink="/editskill/{{skill.id}}">
        <i class="bi bi-pencil-square"></i>Editar
      </button>
      <button class="btn btn-danger boton" (click)="delete(skill.id)">
        <i class="bi bi-trash"></i>Borrar
      </button>
    </td>
  </div>
  </div>
</div>
