<div class="row">
    <h1>Hard & Soft skills:</h1>
    
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="100"
        [imageSrc]="'../../../assets/icons/html.png'"
        [showImage]="true"
        [imageHeight]="70"
        [imageWidth]="70"
        [showUnits]="false"
        [showTitle]="true"
        [title]="'#HTML'"
        [titleColor]="'#fff'"
        [titleFontSize]="'20'"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'#ed5d23'"
        [innerStrokeColor]="'#fff'"
        [animation]="true"
        [animationDuration]="650"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="80"
        [radius]="100"
        [imageSrc]="'../../../assets/icons/CSS.png'"
        [showImage]="true"
        [imageHeight]="70"
        [imageWidth]="70"
        [showUnits]="false"
        [title]="'#HTML'"
        [titleColor]="'#fff'"
        [titleFontSize]="'20'"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'#33a2ff'"
        [innerStrokeColor]="'#fff'"
        [animation]="true"
        [animationDuration]="650"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="65"
        [radius]="100"
        [imageSrc]="'../../../assets/icons/js.png'"
        [showImage]="true"
        [imageHeight]="70"
        [imageWidth]="70"
        [showUnits]="false"
        [title]="'#HTML'"
        [titleColor]="'#fff'"
        [titleFontSize]="'20'"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'#d7b82d'"
        [innerStrokeColor]="'#fff'"
        [animation]="true"
        [animationDuration]="650"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="100"
        [imageSrc]="'../../../assets/icons/git.png'"
        [showImage]="true"
        [imageHeight]="80"
        [imageWidth]="80"
        [showUnits]="false"
        [title]="'#HTML'"
        [titleColor]="'#white'"
        [titleFontSize]="'20'"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'white'"
        [innerStrokeColor]="'black'"
        [animation]="true"
        [animationDuration]="650"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="90"
        [radius]="100"
        [imageSrc]="'../../../assets/icons/grupal.png'"
        [showImage]="true"
        [imageHeight]="70"
        [imageWidth]="70"
        [showUnits]="true"
        [title]="'#HTML'"
        [titleColor]="'#fff'"
        [titleFontSize]="'20px'"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'#35bcec'"
        [innerStrokeColor]="'#ffff'"
        [animation]="true"
        [animationDuration]="650"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="65"
        [radius]="100"
        [imageSrc]="'../../../assets/icons/eng.png'"
        [showImage]="true"
        [imageHeight]="80"
        [imageWidth]="80"
        [showUnits]="false"
        [showBackground]="true"
        [backgroundGradientStopColor]="'#fff'"
        [title]="'#HTML'"
        [titleColor]="'#fff'"
        [titleFontSize]="'20'"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'#0f297c'"
        [innerStrokeColor]="'#c90c28'"
        [animation]="true"
        [animationDuration]="650"
        ></circle-progress>
    </div>

</div>