<div class="container">
    <section class="vh-100 gradient-custom"> 
    <div class="row">
        <div>
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm" class="form-horizontal">
                <legend class="text-center header">Nueva skill</legend>
                <div class="form-group">
            
                <label for="nombre" class="letra"> Nueva skill</label>
                <span class="col-md-1 col-md-offset-2 text-center"><i class="bi bi-code-square tam"></i></span>
                <div  class="col-md-8">                    
                    <input  placeholder="Ingrese la skill" type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="nombre" required>
                </div>    
                </div>
            <div class="form-group">
                <label for="descripcion" class="letra"> Porcentaje</label>
                <span class="col-md-1 col-md-offset-2 text-center"><i class="bi bi-percent tam"></i></span>
                <div  class="col-md-8"> 
                    <input placeholder="Porcentaje" type="text" class="form-control" id="porcentaje" name="porcentaje" [(ngModel)]="porcentaje" required>
                </div>
                </div>
            <div class="col-md-12 text-start my-2 mx-1">
                <button  (click)="showModal()" type="submit" class="btn btn-dark btn-lg"> Agregar skill</button>
            </div>
            </form>
        </div>
    </div>
    </section>