.row{
    background: linear-gradient(to right,rgba(163, 95, 246, 1), rgba(37, 117, 252, 1));
    color: white;
    padding: 20px;
    
}
.img-fluid{
    width: 250px;
    height: 250px;
    border-radius: 100%;
}
.centrado{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
   
}
p{
    font-weight: bold;
    font-size: 25px;
}
.boton{
    background: #dc3545;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
    cursor: pointer;
    box-shadow: #bbb 0px 0px 10px;
}