<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
<img src="../../../assets/perfil.jpg" class="img-fluid" alt="fotoPerfil" id="fotoPerfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 centrado">
        <p id="nombre">Riveros Lucas Alejandro</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 centrado">
        <span class="mx-2">
            <h1>Acerca de mi:</h1>
            <p>Estudiante del Programa Nacional Argentina Programa segunda etapa "#YoProgramo"</p>
        </span>
    </div>
</div>