.row{
    padding: 20px;
    background-color: #241f21;
}
.img-fluid{
    width: 250px;
    height: 250px;
    border-radius: 100%;
}
.centrado{
    background-color: #241f21;
    text-align: start;
    color: white;
}
p{
    font-weight: bold;
    font-size: 25px;
}