<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="col-sm-12 col-md-7 col-lg-7 p1">
        <h2> Ecommerce "Pastas Lau"</h2>
        <p><strong> Ecommerce de pastas artesanales realizado con React Js, HTML5, CSS y JavaScript. Base de datos desplegada en Firebase.
            Realizado en contexto del curso de React de CoderHouse durante el año 2022.</strong></p>
    </div>
    <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 p2">
        <a href= "https://github.com/lucasale92/Proyecto-Final-React"></a><img src="../../../assets/logoPastas.png" alt="" class="img-fluid">
    </div>
    <div class="col-sm-12 col-md-7 col-lg-7 p1 my-2">
        <h2> Portfolio Argentina Programa Developer Full Stack"</h2>
        <p> <strong>Segunda etapa del programa #YoProgramo  desarrollado en Angular con HTML, CSS y TypeScript. Backend desarrollado con Java y Spring Boot. Base de datos con MySQL. Desplegado en Heroku y Firebase</strong>.</p>
    </div>
    <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 p2 my-2">
        <a href= "https://frontend-be271.web.app/"></a><img src="../../../assets/portfolioArgProg.png" alt="" class="img-fluid">
    </div>
</div>

