<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/arg-prog.png" alt="logo" class="logoap">
        </div>
        <div class="redes">
                <a href=""> <img src="../../../assets/face.png" alt="face" id="face" class="mx-2 redes" ></a>
                <a href=""> <img src="../../../assets/linke.png" alt="linke" id="linke" class="mx-2" ></a>
                <a href=""> <img src="../../../assets/instagram-png.png" alt="instagram" id="instagram" class="mx-2" ></a>
                <a href=""> <img src="../../../assets/github.png" alt="github" id="github" class="mx-2"></a>            
                <button type="button" class="btn btn-outline-info btn-lg" (click)="login()" *ngIf="!isLogged"> Ingresar</button>
                <button type="button" class="btn btn-outline-info btn-lg" (click)="onLogOut()" *ngIf="isLogged"> Cerrar sesión</button>
            </div>
    </div>
</div>
